.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr 80px;
  grid-template-areas: 
    "header"
    "main"
    "navbar";
  height: 100vh;
}

.App-header {
  grid-area: header;
}

.App-header-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.App-main {
  grid-area: main;
  overflow: auto;
}

.App-navbar {
  grid-area: navbar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.App-navbar-item {
  place-self: stretch;
  display: grid;
}

.App-navbar-home {
  grid-column: 1 / 2;
}

.App-navbar-add {
  grid-column: 2 / 3;
}

.App-navbar-list {
  grid-column: 3 / 4;
}

.App-navbar-settings {
  grid-column: 4 / 5;
}

.App-navbar-link {
  text-decoration: none;
  display: grid;
  place-self: stretch;
}

.App-navbar-icon {
  place-self: center;
}

.App-navbar-link:visited, .App-navbar-link:link {
  color: white;
}
