.App {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr 60px;
  grid-template-areas: 
    "header"
    "main"
    "blank";
  height: 100vh;
}

.App-header {
  grid-area: header;
  display: grid;
  background-color: #6aa84f;
  color: white;
}

.App-header-text {
  align-self: center;
  justify-self: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
}

.App-main {
  grid-area: main;
  overflow: auto;
}

.App-blank {
  grid-area: blank;
}

.App-navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #6aa84f;
}

.App-navbar-item {
  place-self: stretch;
  display: grid;
}

.App-navbar-home {
  grid-column: 1 / 2;
}

.App-navbar-add {
  grid-column: 2 / 3;
}

.App-navbar-list {
  grid-column: 3 / 4;
}

.App-navbar-settings {
  grid-column: 4 / 5;
}

.App-navbar-link {
  text-decoration: none;
  display: grid;
  place-self: stretch;
}

.App-navbar-icon {
  place-self: center;
}

.App-navbar-link:visited, .App-navbar-link:link {
  color: white;
}

.Transactions-container {
  padding-inline-start: 0px;
}

.Transactions-list {
  list-style-type: none;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-bottom-width: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "amount date"
    "category vendor";
}

.Transactions-list-item {
}

.Transactions-list-amount {
  grid-area: amount;
  padding-top: 10px;
  font-family: monospace;
  color: #6aa84f;
}

.Transactions-list-date {
  grid-area: date;
  padding-top: 10px;
}

.Transactions-list-category {
  grid-area: category;
  padding-bottom: 10px;
}

.Transactions-list-vendor {
  grid-area: vendor;
  padding-bottom: 10px;
}
