.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
    "header"
    "main"
    "navbar";
  height: 100vh;
}

.App-header {
  grid-area: header;
}

.App-header-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.App-main {
  grid-area: main;
}

.App-navbar {
  grid-area: navbar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.App-navbar-home {
  grid-column: 1 / 2;
}

.App-navbar-add {
  grid-column: 2 / 3;
}

.App-navbar-settings {
  grid-column: 3 / 4;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

a {
  text-decoration: none;
}

a:visited{
  color: white;
}
